{% extends 'base.html.twig' %}
{% block title %}Hacienda Guadalupe{% endblock %}
{% block body %}

	<main>
		<div class="imagen_inicio">
			<img src="{{asset ('images/home_image.png')}}">
		</div>

		<div class="servicios">
			<div class="contenedor">
				<h2>HACIENDA</h2>
				<img src= "{{asset ('images/hacienda.jpg')}}">
				<p>Hacienda del Siglo XVIII situada en Sevilla, que principalmente se había destiando al cultivo del olivar.</p>
				<a href="#">LEER MÁS</a>		
			</div>


			<div class="contenedor">
				<h2>BODAS</h2>
				<img src= "{{asset ('images/bodas.jpg')}}"> 
				<p>El mejor enclave para la celebración de tu boda. Reformada para acoger tu boda con las mayores comodidades.</p>
				<a href="#">LEER MÁS</a>		
			</div>  


			<div class="contenedor">
				<h2>EVENTOS</h2>
				<img src= "{{asset ('images/eventos.jpg')}}" >
				<p>Preparada para albergar cualquier evento importante: Reuniones de empresa, Bodas, Bautizos, fiestas y celebraciones.</p>
				<a href="#">LEER MÁS</a>		
			</div>

			<div class="contenedor">
				<h2>COMO LLEGAR</h2>
				<img src= "{{asset ('images/mapa.jpg')}}">
				<p>Situada a 4km de Sevilla, posee un amplio patio de limoneros y jardines ideal para los aperitivos de tu boda al aire libre.</p>
				<a href="#">LEER MÁS</a>		
			</div>
		</div>
	</main>
</div>

{% endblock %}